#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app > h1{
    font-size: 50px;
    font-weight: 600;
    color: #996DFF;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

#app > h2 {
    align-self: flex-start;
    margin-top: 64px;
}
#app > p {
    align-self: flex-start;
    text-align: justify;
    width: 512px;
    color: #7c7c8a;
    user-select: none;
}



#dot {
    color: white;
}

#form {
    padding: 5px;
    display: flex;
    margin-top: 64px;
    display: flex;
    gap: 12px;

}

#form > input {

    color: #fff;
    height: 48px;
    width: 450px;
    border: none;
    background-color: #202024;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;

    transition: outline 1.2s;
}

#form > input:focus {
    outline: 1px solid #8257e5;
}

#form > button {
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: #8257e5a8;

    transition: border 1s;
}

#form > button:hover {
    cursor: pointer;
    outline: 1px solid #8257e5;
    border-radius: 3px;
    transition: 5ms;
}
.material-icons {
    color: #fffffffc !important;
    font-size: 20px;
}